<p class="main">Upload</p>
<form enctype="multipart/form-data" method="POST">
    <input class="upload" type="file" multiple required name="upload">
    <br>
    <button class="button " type="submit">Upload</button>
</form>